@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
    <link href="~/lib/elfinder/css/elfinder.full.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/elfinder/css/commands.css" type="text/css">
    <link rel="stylesheet" href="~/lib/elfinder/css/common.css" type="text/css">
    <link rel="stylesheet" href="~/lib/elfinder/css/contextmenu.css" type="text/css">
    <link rel="stylesheet" href="~/lib/elfinder/css/cwd.css" type="text/css">
    <link rel="stylesheet" href="~/lib/elfinder/css/dialog.css" type="text/css">
    <link rel="stylesheet" href="~/lib/elfinder/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="~/lib/elfinder/css/navbar.css" type="text/css">
    <link rel="stylesheet" href="~/lib/elfinder/css/places.css" type="text/css">
    <link rel="stylesheet" href="~/lib/elfinder/css/quicklook.css" type="text/css">
    <link rel="stylesheet" href="~/lib/elfinder/css/statusbar.css" type="text/css">
    <link rel="stylesheet" href="~/lib/elfinder/css/theme.css" type="text/css">
    <link rel="stylesheet" href="~/lib/elfinder/css/toast.css" type="text/css">
    <link rel="stylesheet" href="~/lib/elfinder/css/toolbar.css" type="text/css">
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>

    <script src="~/lib/elfinder/js/elFinder.js"></script>
    <script src="~/lib/elfinder/js/elFinder.version.js"></script>
    <script src="~/lib/elfinder/js/jquery.elfinder.js"></script>
    <script src="~/lib/elfinder/js/elFinder.mimetypes.js"></script>
    <script src="~/lib/elfinder/js/elFinder.options.js"></script>
    <script src="~/lib/elfinder/js/elFinder.options.netmount.js"></script>
    <script src="~/lib/elfinder/js/elFinder.history.js"></script>
    <script src="~/lib/elfinder/js/elFinder.command.js"></script>
    <script src="~/lib/elfinder/js/elFinder.resources.js"></script>

    <!-- elfinder dialog -->
    <script src="~/lib/elfinder/js/jquery.dialogelfinder.js"></script>

    <!-- elfinder default lang -->
    <script src="~/lib/elfinder/js/i18n/elfinder.en.js"></script>

    <!-- elfinder ui -->
    <script src="~/lib/elfinder/js/ui/button.js"></script>
    <script src="~/lib/elfinder/js/ui/contextmenu.js"></script>
    <script src="~/lib/elfinder/js/ui/cwd.js"></script>
    <script src="~/lib/elfinder/js/ui/dialog.js"></script>
    <script src="~/lib/elfinder/js/ui/fullscreenbutton.js"></script>
    <script src="~/lib/elfinder/js/ui/navbar.js"></script>
    <script src="~/lib/elfinder/js/ui/navdock.js"></script>
    <script src="~/lib/elfinder/js/ui/overlay.js"></script>
    <script src="~/lib/elfinder/js/ui/panel.js"></script>
    <script src="~/lib/elfinder/js/ui/path.js"></script>
    <script src="~/lib/elfinder/js/ui/places.js"></script>
    <script src="~/lib/elfinder/js/ui/searchbutton.js"></script>
    <script src="~/lib/elfinder/js/ui/sortbutton.js"></script>
    <script src="~/lib/elfinder/js/ui/stat.js"></script>
    <script src="~/lib/elfinder/js/ui/toast.js"></script>
    <script src="~/lib/elfinder/js/ui/toolbar.js"></script>
    <script src="~/lib/elfinder/js/ui/tree.js"></script>
    <script src="~/lib/elfinder/js/ui/uploadButton.js"></script>
    <script src="~/lib/elfinder/js/ui/viewbutton.js"></script>
    <script src="~/lib/elfinder/js/ui/workzone.js"></script>

    <!-- elfinder commands -->
    <script src="~/lib/elfinder/js/commands/archive.js"></script>
    <script src="~/lib/elfinder/js/commands/back.js"></script>
    <script src="~/lib/elfinder/js/commands/chmod.js"></script>
    <script src="~/lib/elfinder/js/commands/colwidth.js"></script>
    <script src="~/lib/elfinder/js/commands/copy.js"></script>
    <script src="~/lib/elfinder/js/commands/cut.js"></script>
    <script src="~/lib/elfinder/js/commands/download.js"></script>
    <script src="~/lib/elfinder/js/commands/duplicate.js"></script>
    <script src="~/lib/elfinder/js/commands/edit.js"></script>
    <script src="~/lib/elfinder/js/commands/empty.js"></script>
    <script src="~/lib/elfinder/js/commands/extract.js"></script>
    <script src="~/lib/elfinder/js/commands/forward.js"></script>
    <script src="~/lib/elfinder/js/commands/fullscreen.js"></script>
    <script src="~/lib/elfinder/js/commands/getfile.js"></script>
    <script src="~/lib/elfinder/js/commands/help.js"></script>
    <script src="~/lib/elfinder/js/commands/hidden.js"></script>
    <script src="~/lib/elfinder/js/commands/hide.js"></script>
    <script src="~/lib/elfinder/js/commands/home.js"></script>
    <script src="~/lib/elfinder/js/commands/info.js"></script>
    <script src="~/lib/elfinder/js/commands/mkdir.js"></script>
    <script src="~/lib/elfinder/js/commands/mkfile.js"></script>
    <script src="~/lib/elfinder/js/commands/netmount.js"></script>
    <script src="~/lib/elfinder/js/commands/open.js"></script>
    <script src="~/lib/elfinder/js/commands/opendir.js"></script>
    <script src="~/lib/elfinder/js/commands/opennew.js"></script>
    <script src="~/lib/elfinder/js/commands/paste.js"></script>
    <script src="~/lib/elfinder/js/commands/places.js"></script>
    <script src="~/lib/elfinder/js/commands/preference.js"></script>
    <script src="~/lib/elfinder/js/commands/quicklook.js"></script>
    <script src="~/lib/elfinder/js/commands/quicklook.plugins.js"></script>
    <script src="~/lib/elfinder/js/commands/reload.js"></script>
    <script src="~/lib/elfinder/js/commands/rename.js"></script>
    <script src="~/lib/elfinder/js/commands/resize.js"></script>
    <script src="~/lib/elfinder/js/commands/restore.js"></script>
    <script src="~/lib/elfinder/js/commands/rm.js"></script>
    <script src="~/lib/elfinder/js/commands/search.js"></script>
    <script src="~/lib/elfinder/js/commands/selectall.js"></script>
    <script src="~/lib/elfinder/js/commands/selectinvert.js"></script>
    <script src="~/lib/elfinder/js/commands/selectnone.js"></script>
    <script src="~/lib/elfinder/js/commands/sort.js"></script>
    <script src="~/lib/elfinder/js/commands/undo.js"></script>
    <script src="~/lib/elfinder/js/commands/up.js"></script>
    <script src="~/lib/elfinder/js/commands/upload.js"></script>
    <script src="~/lib/elfinder/js/commands/view.js"></script>

    <script>
        $(function () {
            $('#elfinder').elfinder(
                // 1st Arg - options
                {
                    // Disable CSS auto loading
                    cssAutoLoad: false,

                    // Base URL to css/*, js/*
                    baseUrl: './',

                    // Connector URL
                    url: '/connector',

                    // Callback when a file is double-clicked
                    getFileCallback: function (file) {
                        // ...
                    },
                },

                // 2nd Arg - before boot up function
                function (fm, extraObj) {
                    // `init` event callback function
                    fm.bind('init', function () {
                        // Optional for Japanese decoder "extras/encoding-japanese.min"
                        delete fm.options.rawStringDecoder;
                        if (fm.lang === 'ja') {
                            fm.loadScript(
                                [fm.baseUrl + 'js/extras/encoding-japanese.min.js'],
                                function () {
                                    if (window.Encoding && Encoding.convert) {
                                        fm.options.rawStringDecoder = function (s) {
                                            return Encoding.convert(s, { to: 'UNICODE', type: 'string' });
                                        };
                                    }
                                },
                                { loadType: 'tag' }
                            );
                        }
                    });

                    // Optional for set document.title dynamically.
                    var title = document.title;
                    fm.bind('open', function () {
                        var path = '',
                            cwd = fm.cwd();
                        if (cwd) {
                            path = fm.path(cwd.hash) || null;
                        }
                        document.title = path ? path + ':' + title : title;
                    }).bind('destroy', function () {
                        document.title = title;
                    });
                }
            );
        });
    </script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id="elfinder"></div>

</div>
